<a href="https://colab.research.google.com/github/sydneyxmyers/BTE320/blob/main/2_26_24.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
L=[1,'two',3.14, print, [5,7,9]]
print(L)
len(L)

[1, 'two', 3.14, <built-in function print>, [5, 7, 9]]

5

In [ ]:
print(L[1])

two

In [ ]:
print(L[-1])

3.14

In [ ]:
print(L+['three',9.99,0])

[1, 'two', 3.14, <built-in function print>, [5, 7, 9], 'three', 9.99, 0]

In [ ]:
print(2* ['three',9.99,0])

['three', 9.99, 0, 'three', 9.99, 0]

In [ ]:
for element in L:
  print(element)

1
two
3.14
<built-in function print>
[5, 7, 9]

In [ ]:
L[3]='b'
print(L)

[1, 'two', 3.14, 'b', [5, 7, 9]]

In [ ]:
for index in range (len(L)):
  print(L[index])

1
two
3.14
<built-in function print>
[5, 7, 9]

In [ ]:
L_outer=[[1,2,3],[4,5,6]]
print(L_outer)

[[1, 2, 3], [4, 5, 6]]

In [ ]:
l_inner=L_outer[1]

In [ ]:
l_inner[0]=7
print(l_inner)

[7, 5, 6]