<a href="https://colab.research.google.com/github/sydneyxmyers/BTE320/blob/main/3_4_24-%20dictionaries.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
grades = {'Alice': 91,'Bob': 88,'Tracy': 93,'Erik':90}

In [ ]:
for key in grades.keys():
  print(key)

Alice
Bob
Tracy
Erik

In [ ]:
for value in grades.values():
  print(value)

91
88
93
90

In [ ]:
for key, value in grades.items():
  print(key,value)

Alice 91
Bob 88
Tracy 93
Erik 90

In [4]:
months = {1:"January", 2:"Febuary", 3: "March"}
print (f'The first month in a year is {months[1]}')

The first month in a year is January

In [15]:
months = ["january", "february", "march", "apr", "may"]
print(f'The first month in a year is {months[0]}')

The first month in a year is january

In [ ]:
months ={}
numbers = [1,2,3,4,5,6,7,8,9,10,11,12]
names = ["Jan","Feb","Mar","Apr","May","Jun","Jul","Aug","Sept","Oct","Nov","Dec",]

In [ ]:
for pairs in numbers:
  months[pairs]=names[pairs-1]
print (months)

{0: 'Jan', 1: 'Jan', 2: 'Feb', 3: 'Mar', 4: 'Apr', 5: 'May', 6: 'Jun', 7: 'Jul', 8: 'Aug', 9: 'Sept', 10: 'Oct', 11: 'Nov', 12: 'Dec'}

In [ ]:
for pairs in range(1,13,1):
  months[pairs]=names [pairs-1]
print (months)

{0: 'Jan', 1: 'Jan', 2: 'Feb', 3: 'Mar', 4: 'Apr', 5: 'May', 6: 'Jun', 7: 'Jul', 8: 'Aug', 9: 'Sept', 10: 'Oct', 11: 'Nov', 12: 'Dec'}

In [17]:
bte = {}
bte['water'] = 'emily'
bte['notebook'] = 'pencil'
print(bte)

{'water': 'emily', 'notebook': 'pencil'}

In [19]:
activity= ["jetski", "sky dive", "go kart", "atvs"]
birthday = {}
for i in range (0,4,1):
  birthday[i]= activity[i]
print(birthday)

{0: 'jetski', 1: 'sky dive', 2: 'go kart', 3: 'atvs'}

In [29]:
activity = ["jetski", "sky dive", "pool", "beach", "atvs"]
birthday= {}
for i in range (0,5,1):
  birthday[i]=activity[i]
print(birthday)

{0: 'jetski', 1: 'sky dive', 2: 'pool', 3: 'beach', 4: 'atvs'}